<div class="col-sm-8 blog-main">

  <nav class="blog-pagination">
    <%= paginate @blogs %>
  </nav>
  
  <%= render @blogs %>  

  <nav class="blog-pagination">
    <%= paginate @blogs %>
  </nav>

</div>