<% unless current_user.is_a? GuestUser %>
  <%= form_for @comment, url: '#' do |f| %>
    <div class="form-group">
      <%= f.label :comment %>
      <%= f.text_area :content, class: 'form-control', rows: '4' %>
    </div>

    <%= f.submit 'Post Comment', class: 'topics-btn' %>
  <% end %>
<% end %>