<footer class="mastfoot">
  <div class="inner">
    <%= copyright_generator %>
  </div>
</footer>

<script>
  $(document).ready(function () {
    setTimeout(function () {
      $('#notice-wrapper').fadeOut("slow", function () {
        $(this).remove();
      });
    }, 6000);
  });
</script>