<section class="jumbotron text-center">
  <div class="container">
    <h1>Portfolio</h1>
    <p class="lead text-muted">In this portfolio I've listed some projects that I've made during my time learning about web development. The applications range from full stack to front-end only and just some novelty ones I thought were fun to work on</p>
    <p>
      <%= link_to "Find out more about me", about_path, class: 'btn btn-dark' %>
      <%= link_to "My Blog", blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>