<div class="app-card-container">
  <div class="card">
  <h1>About Me</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "beardly.png", class: "about-me" %>

          <div class="row">
            <div class="col skills-img mt-2">
              <div class="card">
                <h3 class="ml-2">Skills</h3>
                  <div class="row ml-auto skill-list">
                    <div class="col-4">
                      <strong>Front-End</strong>
                        <ul>
                          <li>HTML5</li>
                          <li>CSS3</li>
                          <li>JavaScript</li>
                          <li>Bootstrap</li>
                          <li>VueJS</li>
                        </ul>
                    </div>
                    <div class="col-4">
                      <strong>Back-End</strong>
                        <ul>
                          <li>Ruby</li>
                          <li>Rails</li>
                          <li>NodeJS</li>
                        </ul>
                    </div>
                    <div class="col-4">
                      <strong>Other</strong>
                        <ul>
                          <li>MongoDB</li>
                          <li>PostgresQL</li>
                          <li>NodeJS</li>
                        </ul>
                    </div>
                  </div>
              </div>
            </div>
          </div>

      </div>
      <div class="col-sm-8">
        <p>My name is Tristan, I'm an experienced IT professional on the operations and infrastructure side of IT with over 10 years of experience in the field. Web development has been a hobby that I've been picking up on the last year or so and I'm looking to change careers over to the development side of the world.</p>

        <p>This website is to showcase some of the full stack web development skills I've learned with Ruby on Rails as well as give me a place to show some of my other work and projects</p>

        <p>
          <button 
            class="btn btn-dark"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expander="false"
            aria-controllers="jobHistory"
          >
          Job History
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Jobs and things
            </div>
            <div class="card card-block">
              Jobs and things
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>



