<div class="app-card-container">
  <div class="card">
  <h1>About Me</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag ("https://via.placeholder.com/300x400") %>
      </div>
      <div class="col-sm-8">
        <p>I always had an interest in programming.  When I was young I wanted to make games and when I was 13 I taught myself how to make websites with HTML and CSS. I've been working on the other side of IT making servers and configurations work for, getting close to, 10 years now and it's time to make a switch. </p>

        <p>This website is to showcase some of the full stack web development skills I've learned with Ruby on Rails as well as show some of my other projects and to track my journey to become a web developer</p>

        <p>
          <button 
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expander="false"
            aria-controllers="jobHistory"
          >
          Job History
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Jobs and things
            </div>
            <div class="card card-block">
              Jobs and things
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>



