<h1>Pages#contact</h1>

<p><%= number_to_phone "5558675309" %></p>

<p><%= number_to_currency "5558675309" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "5558675309" %></p>