<div class="app-card-container inner my-auto">
  <div class="card">
    <h1>Want to get in touch?</h1>

    <hr>

    <div class="row">
      <div class="col-sm-6">
        <div class="ml-5">
        <h3>Location</h3>
        <p>Gilbert, AZ</p>
        <h3>Email</h3>
        <p>
          <a href="mailto:tristan.stutzman@gmail.com" class="mail-link">tristan.stutzman@gmail.com</a>
        </p>
        </div>
      </div>

      <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106716.7270435192!2d-111.83400270872768!3d33.29533869537086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872ba90de045ae43%3A0x6453ae977fd9ef7e!2sGilbert%2C%20AZ!5e0!3m2!1sen!2sus!4v1593107591391!5m2!1sen!2sus" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="map"></iframe>
      </div>
    </div>
  </div>
</div>

