<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Thanks for checking out my portfolio webiste.  This is a full stack Ruby on Rails application to showcase my skills and other projects I've completed.</p>
  <p class="lead">
    <%= link_to "Learn More", about_path, class: 'btn btn-lg btn-secondary' %> 
  </p>
</main>