<main role="main" class="inner cover main-content">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Thanks for checking out Ruby on Rails project</p>
  <p class="lead">
    <%= link_to "Learn More", about_path, class: 'btn btn-lg btn-secondary' %> 
  </p>
</main>