@import "bootstrap";
@import "font-awesome";
@import "bootstrap/scss/bootstrap";

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 96%;
}

body {
  // display: -ms-flexbox;
  // display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  font-family: "Lato", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Roboto Slab", serif;
}

.cover-container {
  max-width: 70rem;
}

/*
 * Header
 */

nav {
  width: 100%;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

/*
 * Custom Styles
 */
.card-body {
  color: black;
  text-align: left;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#notice-wrapper {
  position: absolute;
  border-radius: 5px;
  top: 0;
  right: 0;
  max-width: 30%;
  background: rgba(90, 90, 90, 0.5);
  text-align: center;
  padding: 12px 20px 0;
  margin-top: 75px;
  margin-right: 30px;
  z-index: 999;
  font-size: 12px;
  font-weight: 700;
  color: white;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.75);
}

.app-card-container {
  color: #000;
  text-align: left;
}

.about-card {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
}

.mail-link {
  color: #000;
}

.card-block {
  margin: 10px 0;
}

.skill {
  margin: 10px 10px;
}

.skills-card {
  background-color: rgb(219, 219, 219);
  width: 100%;
}

.about-me {
  width: 50%;
  margin: 0px 80px 10px 80px;
}

.skill-list {
  ul {
    list-style: none;
    padding: 0;
    font-size: 13px;
  }
}

.fonty {
  font-family: "Roboto Slab", serif;
}

.fonty-brand {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

#jobHistory {
  p {
    font-size: 12;
  }
}

.map {
  margin: auto;
}
